 .u-section-1 {
  background-image: none;
  min-height: 929px;
}

.u-section-1 .u-image-1 {
  height: 630px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  width: 1140px;
  margin: -176px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15px));
  min-height: 351px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 22px 3px rgba(0,0,0,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  background-image: none;
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-1 {
  margin: 21px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-style: italic;
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 22px 3px rgba(0,0,0,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  background-image: none;
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-style: italic;
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 22px 3px rgba(0,0,0,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  background-image: none;
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-style: italic;
  margin: 19px 0 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 22px 3px rgba(0,0,0,0.45);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  background-image: none;
  height: 70px;
  width: 70px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto;
  padding: 14px;
}

.u-section-1 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 21px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-style: italic;
  margin: 19px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 286px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1184px;
  }

  .u-section-1 .u-image-1 {
    height: 549px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
    margin-top: -95px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 614px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1183px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1713px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 683px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 667px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 392px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 10px 7px 0;
}

.u-section-2 .u-icon-1 {
  width: 42px;
  height: 42px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  margin: -42px 0 0 84px;
}

.u-section-2 .u-list-item-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 10px 7px 0;
}

.u-section-2 .u-icon-2 {
  width: 42px;
  height: 42px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  margin: -42px 0 0 84px;
}

.u-section-2 .u-list-item-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 10px 7px 0;
}

.u-section-2 .u-icon-3 {
  width: 42px;
  height: 42px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  margin: -42px 0 0 84px;
}

.u-section-2 .u-list-item-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px 10px 7px 0;
}

.u-section-2 .u-icon-4 {
  width: 42px;
  height: 42px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  margin: -42px 0 0 84px;
}

.u-section-2 .u-image-1 {
  min-height: 654px;
  background-image: url("images/yuyuyuy.jpg?rand=c67c");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2189px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 873px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    min-height: 1197px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1151px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 7px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 80px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 7px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 80px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 7px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 80px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 7px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 80px;
  }

  .u-section-2 .u-image-1 {
    min-height: 917px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-2 .u-image-1 {
    min-height: 688px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 433px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 825px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1112px;
  margin: 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 588px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-4576085.jpeg?rand=4629");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  margin: -110px 0 0 147px;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 147px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-5141074.jpeg?rand=528e");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: -110px 0 0 147px;
}

.u-section-3 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 147px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-9821204.jpeg?rand=23b0");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: -110px 0 0 147px;
}

.u-section-3 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 147px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-2989724.jpeg?rand=5a58");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: -110px 0 0 147px;
}

.u-section-3 .u-text-9 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 147px;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-9787579.jpeg?rand=3e79");
  background-position: 50% 26.53%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-10 {
  margin: -110px 0 0 147px;
}

.u-section-3 .u-text-11 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 147px;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  width: 110px;
  height: 110px;
  background-image: url("images/pexels-photo-9867161.jpeg?rand=5bc0");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-12 {
  margin: -110px 0 0 147px;
}

.u-section-3 .u-text-13 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1rem;
  margin: 20px auto 0 147px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 497px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-3 .u-text-2 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 147px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 147px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 147px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 147px;
  }

  .u-section-3 .u-text-10 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 147px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -110px;
    margin-right: 0;
    margin-left: 147px;
  }

  .u-section-3 .u-text-13 {
    margin-left: 147px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 983px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }
} .u-section-4 {
  min-height: 448px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/7a1efc23-1b7a-7322-b1dc-bc6485a69227.jpg?rand=c910");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  min-height: 448px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  min-height: 448px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 25px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-4 .u-social-icons-1 {
  height: 52px;
  min-height: 16px;
  width: 198px;
  min-width: 90px;
  white-space: nowrap;
  margin: 34px auto 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 52px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 369px;
  }

  .u-section-4 .u-image-1 {
    min-height: 369px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 369px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 565px;
  }

  .u-section-4 .u-image-1 {
    min-height: 565px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 524px;
  }

  .u-section-4 .u-image-1 {
    min-height: 424px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 367px;
  }

  .u-section-4 .u-image-1 {
    min-height: 267px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}
.search{
  text-decoration: none;
  font-weight: bolder;
  margin-left: 138%;
  font-family: 'Oswald',sans-serif;
  word-spacing: 2cm;
  font-size: 33px;
}
.search:hover{
  color: white;
  transition: .3s;
}
.login{
  font-size: 33px;
  margin-left: 20%;
  color: black;
}
.login:hover{
  transition: 0.3s;
}